/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BODY BACKGROUND */
body {
  background-color: #0f172a;   /* DARK MODERN BACKGROUND */
  color: #ffffff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 70px 20px;
  background-color: #020617;
}

/* PROFILE IMAGE */
.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #38bdf8;
  margin-bottom: 15px;
}

/* SECTIONS */
.section {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  background-color: #1e293b;
  border-radius: 12px;
}

/* HEADINGS */
h1 {
  color: #38bdf8;
}

h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

/* CARDS */
.card {
  background-color: #020617;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* SKILLS */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background-color: #020617;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 14px;
}

/* LINKS */
a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #020617;
  margin-top: 40px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .profile-pic {
    width: 110px;
    height: 110px;
  }

  .section {
    margin: 25px 15px;
  }
}
